
/* Quicksand-font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand');

/* Raleway Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font-color:black;
    --secondary-font-color:#808080;
    --curriculum-card-description-font-color:#808080;
    --curriculum-card-title-font-color:#202020;
    --footer-fonts-color:white;

}


.raleway-secondary {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

body {

  font-family: "Quicksand", serif;
  
  
  font-size: 16px;
  font-weight: normal;
  

  
  margin: 0 8%;
  
}


/* Shared Class */
.btn-primary {
    text-align: center;
    max-width: 197px;
    width: 100%;
    height: 50px;
    color: white;
    font-size:  1rem;
    font-weight: normal;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
}

.section-title {
    text-align: center;
    color: var(--primary-font-color);
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 5%;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

nav .hamburger-menu {
    display: none;
}

nav .logo-container {
    display: flex;
    align-items: center;
}

nav img {
    max-width: 62px;
    max-height: 62px;
    margin-right: 4%;
}
nav li {
    list-style: none;
    margin-right: 15%;
    font-size: 1rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    
    
}

nav ul a {
    text-decoration: none;
}

nav .name {
    color:var(--primary-font-color);
    font-size: 1.5rem;

}

nav .contact-btn {
    background-color: orange;
    font-weight: 400;
}

nav .pages-link #link-1 {
    color: orange;
}

nav .pages-link #link-2 {
    color: skyblue;
}

nav .pages-link #link-3 {
    color: #05D4DF;
}

nav .pages-link #link-4 {
    color: #5D58EF;
}


/* Banner styles */
.banner {
    display: flex;
    justify-content: space-between;
}

.banner .banner-texts {
    max-width: 640px;
    margin-top: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

.banner .hero-description {
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--primary-font-color);
}

.banner .hero-btn {
    background-color: black;
}

.banner #emp {
    color: orange;
}
.banner #vis {
    color: #01ACFD;
}
/* Main Section */
main {
    background-image: url(assets/bg.png);
    background-repeat: repeat;
    background-size: auto;
    margin-top: 0;
    
}


/* Curriculum Section */

.curriculum-section{
    margin: 0 auto;
    margin-top: 10%;
}
.curriculum-section .cards-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 4%;
}
.curriculum-section .card {
    
    max-width: 368px;
    max-height: 477px;
    border-radius: 19px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.curriculum-section #kinder {
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), white;
    box-shadow: inset 0 0 0 0.94px rgba(222, 245, 255, 1);
    border: 0.94px solid rgba(222, 245, 255, 1);

}
.curriculum-section #elementary {
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%), white;
    box-shadow: inset 0 0 0 0.94px rgba(255, 244, 220, 1);
    border: 0.94px solid rgba(255, 244, 220, 1);

}
.curriculum-section #middle {
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), white;
    box-shadow: inset 0 0 0 0.94px rgba(238, 225, 255, 1);
    border: 0.94px solid rgba(238, 225, 255, 1);

}

.curriculum-section .card-title {
    color: var(--curriculum-card-title-font-color);
    font-weight: bold;
    font-size: 1.25rem;
}

.curriculum-section .card-disc {
    color: var(--curriculum-card-description-font-color);
    font-weight: 400;
    font-size: 1rem;  
}

.curriculum-section .read-more {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.curriculum-section #rm-1 {
    color: #64C8FF;
}
.curriculum-section #rm-2 {
    color: #F0AA00;
}
.curriculum-section #rm-3 {
    color: #8700FF;
}

.slide-btns {
    display: flex;
    justify-content: center;
    gap: 1%;
    
    
}
.slide-btn {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    border: 0;
    color: white;
    background-color: orange;
    margin-top: 5%;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;

}

/* Stories Section */
.stories-section {
    
    position:relative;
}

.stories-section::before {
    content: '';
    position: absolute;
    top:0;
    left: -9.5%;
    width: 99.1vw;
    height: 100%;
    background: linear-gradient(to top, rgba(254, 163, 1, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
    z-index: -1;
}


.story-cards-container #hero-story {
    max-width: 540px;
    height:600px;
    background-color: white;
    border-radius: 16px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    
    
}

#hero-story .card-disc {
    max-width: 500px;
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    margin-left: 3%;
    margin-bottom:15px;
    margin-top: 10%;
}



#hero-story .card-title {
    max-width: 402.50px;
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 3%;
    margin-top: 10%;
}

#hero-story img {
    border-radius: 16px 16px 0 0;
    width: 100%;

}

#hero-story {
    position: relative;

}

.story-card {
    max-width: 290.69px;
    height: 301.61px;
    background-color: white;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
}



#hero-story .card-btn {
   width: 175px;
    height: 48px;
    border-radius: 48px;
    border: 0;
    background-color: #3CD8E8;
    color: white;
    font-family: "Raleway", serif;
    position: relative;
    bottom: 43%;
    left:7%;
    cursor: pointer;


}

.story-cards-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8%;
    margin-right: 0;
    
}


.story-card img {
    border-radius: 16px 16px 0 0;
    width: 100%;    
}

.story-card .card-title {
    max-width: 198px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 3%;
    margin-top: 10%;
 
}

.story-card .card-btn {
     width: 174.5px;
     height: 38.35px;
     border-radius: 47.90px;
     border: 0;
     background-color: #95B226;
     color: white;
     font-family: "Raleway", serif;
     position: absolute;
     bottom: 34%;
     left:7%;
     cursor: pointer;
 
 
 }


.stories-section .section-title {
    margin-top: 8%;
    margin-bottom: 5%;
}
.story-view-all-btn {
    text-align: center;
    
}
.story-view-all-btn .btn-primary {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 8%;

}

#card-cpy {
    display: none;
}
#card-cpy .card-btn{
    background-color: #5D58F0;
}

/* Footer */

footer {
    
    position: relative;
    display: flex;
    color: white;
    padding: 5% 5%;
    justify-content: space-between;
}

footer::before {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10%;
    width: 99.5vw;
    height: 100%;
    background-color: #01ACFD;
    z-index: -1;


}
footer .name {
    font-weight: bold;
    
}

.footer-logo img{
    width: 17%;
    height: 17%;
    margin-top: 5%;
    
}

.footer-logo {
    display: flex;
   
}

.footer-description .info {
    font-weight: normal;
    font-size: 1rem;
    max-width: 350px;
}

.about-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.about-links a{
    text-decoration: none;
    color: white;
    
}

.social-media-links img {
    width: 15%;
}




/* Responsive */

/* Phone Display */
@media screen and (max-width: 576px){
    body {

        font-size: 14px;
        margin: 0 5%;
        
      }

    /* Shared */
    .btn-primary {
        
        max-width: 131px;
        width: 100%;
        height: 42px;
        border-radius: 8px;
    }
    
    .section-title {
        font-size: 1.5rem;
    }


    /* Main */
    main {
        background-image: url(assets/bg.png);
        background-repeat: repeat;
        background-size: auto;
        margin-top: 0;
        
    }
      /* NAV */

    nav .name, nav ul, nav .contact-btn {
        display: none;
         
    }
    nav{
        padding-bottom: 2%;
        border-bottom: 1px solid orange;
        width: 99.9vw;
        margin-left: -5.5%;
    }

    nav img {
        margin-left: 15px;
    }
    
    nav .hamburger-menu {
        display: flex;
    }

    .hamburger-menu img {
        width: 30px;
        height: 30px;
        margin-left: -50%;
        margin-top: 50%;
    }

    .pages-link.active {
        display: flex;
    }

    .pages-link li {
        margin: 10px 0;
        text-align: center;
    }

    /* Animate Hamburger */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    /* Banner */
    .banner {
        
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner .banner-texts {
        max-width: 357px;
        font-size: 1.2rem;
        text-align: center;   
    }

    .banner .hero-description {
        text-align: center;
        font-size: 1rem;    
    }

    .hero-img-container img {
        max-width: 367px;
        text-align: center;
    }


    /* Curriculum */
    .curriculum-section .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .curriculum-section .card {
        
        max-width: 357px;
        max-height: 321px;
        border-radius: 12.77px;
        margin-bottom: 3%;
        width: 100%;
        text-align: center;
    }

    .curriculum-section .card-title {
        font-size: 1.15rem;
    }

    .curriculum-section .card-disc {
       
        font-size: 0.9rem;  
    }

    .curriculum-section .read-more {
        
        font-size: 0.8rem;
        
    }

    .slide-btns {
        display:none;
    }



    /* Story */

    .stories-section::before {
        
        left: -5.5%;
        width: 100vw;
    }

    .story-cards-container #hero-story {
        display: none;
    }

   

    .story-cards-container {
        
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        
        
    }
    .story-card {
        max-width: 173.35px;
        max-height: 179.59px;
        border-radius: 5px;
    }

    .story-card img {
        border-radius: 5px 5px 0 0;
        width: 100%;    
    }

    .story-card .card-title {
        max-width: 117.92px;
        font-size: 0.6rem;
    }



    .story-card .card-btn {
        max-width: 103.90px;
        max-height: 22.80px;
        border-radius: 28.54px;
        font-size: 0.7rem;
    }

    #card-cpy {
        display: block;
    }
        

    /* footer */
    footer {
        flex-direction: column;  
    }

    footer::before {
       
        left: -5.5%;
        width: 100vw;
       
    
    
    }
   
}

